VITE_API_BASE_URL=https://galaxy-api.galaxydve.com
VITE_API_KEY=your_api_key
VITE_API_SECRET=your_api_secret
VITE_CAMPAIGN_ID=4679
VITE_SERVICE_ID=39
VITE_COUNTRY_CODE=fr
VITE_LANGUAGE_CODE=fr

# CastLabs PRESTOplay SDK license (from https://account.castlabs.com)
VITE_CASTLABS_LICENSE=

# DRM Configuration (CastLabs PRESTOplay + DRMtoday)
# Staging: DRMtoday_STAGING / six / https://lic.staging.drmtoday.com/...
# Production: DRMtoday / digitalvirgo / https://lic.drmtoday.com/...
VITE_DRM_ENV=DRMtoday_STAGING
VITE_DRM_MERCHANT=six
VITE_DRM_BASE_URL=https://lic.staging.drmtoday.com/license-proxy-headerauth/drmtoday/RightsManager.asmx
VITE_DRM_USER_ID=purchase
VITE_DRM_SESSION_ID=sessionId
VITE_DRM_AUTH_TOKEN=
